html, body {
  height: 100%;
  width: 100%;
  overflow: auto;
}

html { 
  overflow: hidden;
}

body {
    margin: 0;
    font-size: 12px;
}

.nowrap {
    white-space: nowrap !important;
}

.nooverflow {
    overflow: hidden !important;
}

.right {
    float: right;
}

.noselect {
    user-select: none;
}

/* layout */

body > .ui-layout-pane {
    padding: 2px !important;
    border: none !important;
}

body > .ui-layout-pane-north {
    padding: 10px !important;
}

.ui-layout-toggler-north, .ui-layout-toggler-west {
    display: none !important;
}

.spacer {
    margin-bottom: 7px;
}

#viewer-wrapper {
    width: 100%;
    height: 100%;
}

#viewer {
    width: 100%;
    border: none;
    outline: aliceblue 1px solid;
    background: aliceblue;
    height: 100%;
}

.mytable {
    width: 100%;
    border-collapse: collapse;  
}

.mytable thead td {
    text-align: center;
    font-weight: bold;
    background: aliceblue;
}

.mytable td {
    border-bottom: 1px solid aliceblue; 
    text-align: center;
}

.mytable tr.current td {
    background-color: pink;
}


.proxies-table tr.blacklisted td[data-proxy] {
    text-decoration: line-through;
    color: gray;
}

.proxies-table tr.blacklisted td[data-account] {
    text-decoration: line-through;
    color: gray;
}

.proxies-table tr.blacklisted td[data-error] {
    color: gray;
}

.products-table tr.blacklisted {
    color: gray;
    font-style:italic;
}

.informer {
    background: #4CA8FF;
    color: white;
    padding: 1px;
    text-align: center;
}

.log-informer {
    margin-bottom: 3px;
}

/* layout */

.ui-layout-south {
    overflow: hidden;
}

.proxies-ip-wrapper {
    width: 40%;
    vertical-align: top;
    display: none;
    max-height: 120px;
    overflow-y: auto;
}

.log-wrapper-wrapper {
    white-space: nowrap;
}

.log-wrapper {
    width: 100%;
    display: inline-block;
    max-height: 120px;
    overflow-y: auto;
    border-bottom: 1px solid #4CA8FF;
}

#log {
    height: 100px;
    font-family: monospace;
    font-size: 12px;
    overflow-x: hidden;
    background: #fefefe;
}

.logger-time {
    padding-right: 15px;
    color: #bbb;
}

#logger {
}

.logger-error {
    color: #ff0000;
}

.logger-info {
    color: #444;
}

.logger-warn {
    color: #ff6a00;
}

.logger-success {
    color: #009900;
}

/* buttons */

button.btn-green {
    color: #fff;
    background-image: linear-gradient(#81cf81 0,#52a452 100%);
    border: 1px solid #479247;
    text-shadow: 1px 1px 1px #777
}

button.btn-green:hover {
    color: #fff;
    background-image: linear-gradient(#6abe68 0,#3f8f3d 100%);
    border: 1px solid #479247;
    text-shadow: 1px 1px 1px #777
}

button.btn-green:active,button.btn-green.clicked {
    color: #fff;
    background-image: linear-gradient(#377d36 0,#377d36 100%);
    border: 1px solid #555!important;
    text-shadow: 1px 1px 1px #777
}

button.btn-orange {
    color: #fff;
    background-image: linear-gradient(#fcc272 0,#fb8822 100%);
    border: 1px solid #B68B4C;
    text-shadow: 1px 1px 1px #777
}

button.btn-orange:hover {
    color: #fff;
    background-image: linear-gradient(#f4ad59 0,#f1731f 100%);
    border: 1px solid #B68B4C;
    text-shadow: 1px 1px 1px #777
}

button.btn-orange:active,button.btn-orange.clicked {
    color: #fff;
    border: 1px solid #666;
    background-image: linear-gradient(#b98747 0,#b98747 100%);
    text-shadow: 1px 1px 1px #777
}



/* other */

button {
    margin-right: 10px;
}


.mytable input[type="checkbox"] {
    margin: 0;
    vertical-align: text-bottom;
}

#stopTimer {
    margin-left: 5px;
    color: firebrick;
}

.action {
    text-decoration:underline;
    margin-right: 3px;
    cursor: pointer;
}

/* password protection */

.welcome {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    background: aliceblue;
    display: none;
}

#loader {
    display: block;
    position: relative;
    left: 35%;
    top: 25%;
    width: 175px;
    height: 80px;
    background: skyblue;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 10px;
    padding-bottom: 80px;
}

#c {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

#p {
    height: 22px;
    text-indent:10px;
    margin-bottom: 10px;
    margin-top: 4px;
    width: 100%;
}

#e {
    margin-bottom: 10px;
    background: red;
    color: white;
    padding: 5px;
    width: 100%;
    text-align: center;
    opacity: 0;
}

#notice {
    display: block;
    position: relative;
    left: 35%;
    top: 25%;
    width: 275px;
    height: 50px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: justify;
}

/* settings dialog */

.fields-group {
}

.fields-group label {
    width: 150px;
    display: inline-block;
}

.fields-group input[type="number"] {
    width: 50px;
    height: 22px;
    text-indent:10px;
}

/* jquery UI classes override */

.ui-dialog {
    box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.25);
}







